@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.picture {
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture:hover {
  filter: brightness(80%);
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 12px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);

}

body {
  background-color: #fff9f9;
  font-family: 'Outfit', sans-serif;
  color: rgb(0, 0, 0);
}

.page-container {
  width: 80%;
  max-width: 1200px;
  margin-top: 5rem;
  margin: auto;
  size: 50px;
}

nav {
  padding: 20px 0;
}

nav .nav-content {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a {
  font-size: 35px;
  transition: 3s;
}

nav .logo:hover{
  transform: skew(-20deg);
}
nav.sticky .logo a {
  color: #fff;
}

.nav-content .nav-links {
  display: flex;
}

.nav-content .nav-links li {
  list-style: none;
  margin: 0 8px;
}

.nav-links li a {
  font-size: 18px;
}

.nav-links li a:hover {
  color: #8686A2;
}
